@media (max-width: 950px) {
  nav {
    display: none;
  }

  .burger-menu {
    display: block;
    color: white;
    font-size: 30px;
  }
  .main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 20px;
  }
  .main img {
    width: 100%;
    max-width: 350px;
  }
}

@media (max-width: 1100px) {
  .main img {
    width: 100%;
    max-width: 400px;
    margin-inline: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 700px) {
  .m-btn-1,
  .m-btn-2 {
    padding: 14px 28px;
    padding-block: 10px;
  }
  .container {
    padding-inline: 20px;
  }
  .main-text {
    display: flex;
    gap: 20px;
  }
  .main-text p {
    line-height: 24px;
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
  .main-text h1 {
    width: 100%;
    max-width: 330px;
    margin-inline: 10px;
  }
  .main-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
